# Dataset directory
dataset/
data/
sample/
saved_models/
embedding_cache/
lib/
test.py
*.png
*.pyc
__pycache__
*.bin
# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/
.env/

# IDE specific files
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# Model checkpoints and results
# retrieval_results/ # Allowed to demonstrate sample results.
retrieval_results_small_dataset/
*.pth
*.pkl
*.pt

# System files
.DS_Store
Thumbs.db
*.zip
retrieval_benchmark/run.log

run.log
*.pkl
src/__pycache__/evaluator.cpython-310.pyc
src/__pycache__/retrieval_system.cpython-310.pyc
models/faiss_index.bin
data/output/results/query_results_sample_query.png.png
models/index_metadata.pkl
data/